Repository derekg1729/CogniDAO: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-schema-versions, register-dolt-schemas

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.3.3
    hooks:
      - id: ruff
        args: [--fix]
  - repo: local
    hooks:
      - id: validate-schema-versions
        name: Validate Schema Versions
        entry: python scripts/validate_schema_versions.py
        language: python
        types: [python]
        pass_filenames: false
        additional_dependencies: ['pydantic>=2.0.0']
      - id: register-dolt-schemas
        name: Register Dolt Schemas and Check Staging
        entry: scripts/pre_commit_register_schemas.sh
        language: system
        files: ^infra_core/memory_system/schemas/registry\.py$
        pass_filenames: false
        verbose: true

fix chat route to not have unexpected /chat/ format. existing preview deployment works
  services/web_api/routes/chat.py
Due: validate-schema-versions

feat(api): restructure endpoints with /api/v1/ prefix and backwards compatibility
  services/web_api/app.py
  services/web_api/routes/blocks_router.py
  services/web_api/routes/chat.py
  services/web_api/routes/schemas_router.py
Due: validate-schema-versions

git cogni approval of frontend repo changes, directly related to this branches updates
  data/memory_banks/flows/gitcogni_reviews/review_20250513_224144_235425/GitCogniAgent_derekg1729_cogni-site_2_approve_20250513_224837_791059.md
  data/memory_banks/flows/gitcogni_reviews/review_20250513_224144_235425/decisions.jsonl
  data/memory_banks/flows/gitcogni_reviews/review_20250513_224144_235425/guide_git-cogni.md
Due: none

gitcogni approval of these api fix changes
  data/memory_banks/flows/gitcogni_reviews/review_20250513_225608_897650/GitCogniAgent_derekg1729_CogniDAO_18_approve_20250513_225733_937842.md
  data/memory_banks/flows/gitcogni_reviews/review_20250513_225608_897650/decisions.jsonl
  data/memory_banks/flows/gitcogni_reviews/review_20250513_225608_897650/guide_git-cogni.md
Due: none

docs: updated plan for supporting projects, tasks, epics, bugs
  experiments/docs/roadmap/tasks/task-support-project-management-schemas.json
Due: none

feat(memory-system): implement project management metadata structure
  data/memory_banks/core/main/decisions.jsonl
  data/memory_dolt/.dolt/noms/journal.idx
  data/memory_dolt/.dolt/noms/manifest
  data/memory_dolt/.dolt/noms/vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv
  docs/memory_block_schema.md
  experiments/docs/roadmap/tasks/task-support-project-management-schemas.json
  experiments/tests/test_registry.py
  infra_core/memory_system/schemas/metadata/__init__.py
  infra_core/memory_system/schemas/metadata/bug.py
  infra_core/memory_system/schemas/metadata/common/executable.py
  infra_core/memory_system/schemas/metadata/common/validation.py
  infra_core/memory_system/schemas/metadata/epic.py
  infra_core/memory_system/schemas/metadata/project.py
  infra_core/memory_system/schemas/metadata/task.py
  infra_core/memory_system/schemas/metadata/tests/test_epic_bug.py
  infra_core/memory_system/schemas/metadata/tests/test_executable.py
  infra_core/memory_system/schemas/metadata/tests/test_executable_status.py
  infra_core/memory_system/schemas/metadata/tests/test_type_specific_status.py
  infra_core/memory_system/schemas/metadata/tests/test_validation.py
  infra_core/memory_system/schemas/metadata/tests/test_validation_reports.py
  infra_core/memory_system/schemas/registry.py
  infra_core/memory_system/tests/test_dolt_schema_manager.py
  scripts/validate_schema_versions.py
  tests/services/web_api/test_blocks_router.py
  tests/services/web_api/test_schemas_router.py
Due: validate-schema-versions, register-dolt-schemas

chore(task): Enhance project management schemas with agent execution support
  experiments/docs/roadmap/tasks/task-support-project-management-schemas.json
Due: none

feat(memory-system): Phase 1 - Metadata schemas and block links support for Epics, Projects, Tasks, and Bugs
  data/memory_banks/core/main/GitCogniAgent_None20250513_065448_435050.md
  data/memory_banks/core/main/decisions.jsonl
  experiments/docs/roadmap/tasks/task-support-project-management-schemas.json
  infra_core/memory_system/schemas/__init__.py
  infra_core/memory_system/schemas/common.py
  infra_core/memory_system/schemas/memory_block.py
  infra_core/memory_system/schemas/metadata/__init__.py
  infra_core/memory_system/schemas/metadata/bug.py
  infra_core/memory_system/schemas/metadata/epic.py
  infra_core/memory_system/schemas/metadata/project.py
  infra_core/memory_system/schemas/metadata/task.py
  infra_core/memory_system/schemas/metadata/tests/test_epic_bug.py
  infra_core/memory_system/schemas/registry.py
  infra_core/memory_system/schemas/tests/test_block_links.py
Due: validate-schema-versions, register-dolt-schemas

feat(memory): Add agent-facing tools for task management
  experiments/docs/roadmap/tasks/task-support-project-management-schemas.json
  infra_core/memory_system/tools/agent_facing/__init__.py
  infra_core/memory_system/tools/agent_facing/add_validation_report_tool.py
  infra_core/memory_system/tools/agent_facing/create_task_memory_block_tool.py
  infra_core/memory_system/tools/tests/agent_facing/test_add_validation_report_tool.py
  infra_core/memory_system/tools/tests/agent_facing/test_create_task_memory_block_tool.py
Due: validate-schema-versions

proof of concept use case for create task tool. example scripts run, dolt updated and validated. Newly deployed backend shows the task file in the frontend
  data/memory_dolt/.dolt/noms/journal.idx
  data/memory_dolt/.dolt/noms/manifest
  data/memory_dolt/.dolt/noms/vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv
  use_create_task_tool.py
  use_validation_report_tool.py
Due: validate-schema-versions

fix: refine initial implementations of Task and validation tools
  examples/use_create_task_tool.py
  examples/use_validation_report_tool.py
  infra_core/memory_system/schemas/metadata/common/executable.py
  infra_core/memory_system/schemas/metadata/tests/test_executable_status.py
  infra_core/memory_system/tools/agent_facing/add_validation_report_tool.py
  infra_core/memory_system/tools/agent_facing/create_task_memory_block_tool.py
  infra_core/memory_system/tools/tests/agent_facing/test_add_validation_report_tool.py
  infra_core/memory_system/tools/tests/agent_facing/test_create_task_memory_block_tool.py
Due: validate-schema-versions

refactor: move BlockIdType from executable.py to common.py
  infra_core/memory_system/schemas/common.py
  infra_core/memory_system/schemas/metadata/common/executable.py
Due: validate-schema-versions

feat: Implement project management tools with comprehensive test coverage
  experiments/docs/roadmap/tasks/task-support-project-management-schemas.json
  infra_core/memory_system/tools/agent_facing/__init__.py
  infra_core/memory_system/tools/agent_facing/create_bug_memory_block_tool.py
  infra_core/memory_system/tools/agent_facing/create_epic_memory_block_tool.py
  infra_core/memory_system/tools/agent_facing/create_project_memory_block_tool.py
  infra_core/memory_system/tools/agent_facing/update_task_status_tool.py
  infra_core/memory_system/tools/tests/agent_facing/test_create_bug_memory_block_tool.py
  infra_core/memory_system/tools/tests/agent_facing/test_create_epic_memory_block_tool.py
  infra_core/memory_system/tools/tests/agent_facing/test_create_project_memory_block_tool.py
  infra_core/memory_system/tools/tests/agent_facing/test_update_task_status_tool.py
Due: validate-schema-versions

example tool for adding a project, and first project creation in dolt
  data/memory_dolt/.dolt/noms/journal.idx
  data/memory_dolt/.dolt/noms/manifest
  data/memory_dolt/.dolt/noms/vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv
  examples/use_create_project_tool.py
Due: validate-schema-versions

docs: plan of action for LinkManager class
  experiments/docs/roadmap/tasks/task-link-manager.json
  experiments/docs/roadmap/tasks/task-support-project-management-schemas.json
Due: none

docs: updated plan for link manager MVP vs enhancements
  experiments/docs/roadmap/tasks/task-link-manager-enhancements.json
  experiments/docs/roadmap/tasks/task-link-manager.json
Due: none

feat(memory): Scaffold LinkManager interface and API endpoints
  experiments/docs/roadmap/tasks/task-link-manager.json
  infra_core/memory_system/link_manager.py
  infra_core/memory_system/tests/test_link_manager.py
  infra_core/memory_system/tests/test_link_query.py
  services/web_api/app.py
  services/web_api/routes/links_router.py
Due: validate-schema-versions

feat(links): Address type safety and validation feedback for LinkManager
  infra_core/memory_system/link_manager.py
  infra_core/memory_system/tests/test_link_manager.py
  infra_core/memory_system/tests/test_link_query.py
  services/web_api/routes/links_router.py
Due: validate-schema-versions

feat(memory): Complete LinkManager interface and query builder
  infra_core/memory_system/link_manager.py
  infra_core/memory_system/tests/test_link_manager.py
  infra_core/memory_system/tests/test_link_query.py
  services/web_api/routes/links_router.py
Due: validate-schema-versions

feat(memory_system): Create domain-specific relation registry
  experiments/docs/roadmap/tasks/task-link-manager.json
  infra_core/memory_system/link_manager.py
  infra_core/memory_system/relation_registry.py
  infra_core/memory_system/schemas/common.py
  infra_core/memory_system/tests/test_in_memory_link_manager.py
  infra_core/memory_system/tests/test_relation_registry.py
Due: validate-schema-versions

feat(memory_system): Improve relation registry with domain-specific types and validation
  experiments/docs/roadmap/tasks/task-link-manager.json
  infra_core/memory_system/link_manager.py
  infra_core/memory_system/relation_registry.py
  infra_core/memory_system/tests/test_relation_registry.py
Due: validate-schema-versions

created project management link helper class, with test. Created task JSON for refactoring and simplifying the LinkManager class, which is too large and handles too much
  experiments/docs/roadmap/tasks/task-link-manager-refactor.json
  experiments/docs/roadmap/tasks/task-link-manager.json
  infra_core/memory_system/pm_executable_links.py
  infra_core/memory_system/tests/test_executable_links.py
Due: validate-schema-versions

docs: plan of action for agent facing block link tools
  experiments/docs/roadmap/tasks/task-create-block-link-tools.json
Due: none

feat(memory-system): implement block link creation tools
  docs/links.md
  experiments/docs/roadmap/tasks/task-create-block-link-tools.json
  infra_core/memory_system/tools/agent_facing/create_block_link_tool.py
  infra_core/memory_system/tools/agent_facing/test_create_block_link_tool.py
  infra_core/memory_system/tools/agent_facing/test_create_memory_block_tool.py
  infra_core/memory_system/tools/helpers/block_validation.py
  infra_core/memory_system/tools/helpers/relation_helpers.py
  infra_core/memory_system/tools/memory_core/create_block_link_tool.py
  infra_core/memory_system/tools/tests/test_cogni_tool.py
Due: validate-schema-versions

doc: plan for BaseUserMetadata class with standardized user-defined types
  experiments/docs/roadmap/tasks/task-fix-base-metadata.json
Due: none

feat(schema): Introduce BaseUserMetadata for shared fields
  data/memory_banks/core/main/decisions.jsonl
  data/memory_dolt/.dolt/noms/journal.idx
  data/memory_dolt/.dolt/noms/manifest
  data/memory_dolt/.dolt/noms/vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv
  experiments/docs/roadmap/tasks/task-fix-base-metadata.json
  experiments/tests/test_registry.py
  infra_core/memory_system/schemas/metadata/base_user.py
  infra_core/memory_system/schemas/metadata/bug.py
  infra_core/memory_system/schemas/metadata/common/executable.py
  infra_core/memory_system/schemas/metadata/doc.py
  infra_core/memory_system/schemas/metadata/epic.py
  infra_core/memory_system/schemas/metadata/project.py
  infra_core/memory_system/schemas/metadata/task.py
  infra_core/memory_system/schemas/metadata/tests/test_epic_bug.py
  infra_core/memory_system/schemas/metadata/tests/test_type_specific_status.py
  infra_core/memory_system/schemas/registry.py
  infra_core/memory_system/tests/test_dolt_schema_manager.py
  infra_core/memory_system/tools/agent_facing/create_epic_memory_block_tool.py
  infra_core/memory_system/tools/agent_facing/create_project_memory_block_tool.py
  infra_core/memory_system/tools/tests/agent_facing/test_create_epic_memory_block_tool.py
  tests/services/web_api/test_blocks_router.py
Due: validate-schema-versions, register-dolt-schemas

feat: Initial MCP server structure and CreateProjectMemoryBlock endpoint
  experiments/docs/roadmap/tasks/task-mvp-dolt-mcp.json
  services/mcp_server/app/api/endpoints/memory_tools.py
  services/mcp_server/app/core/config.py
  services/mcp_server/app/mcp_server.py
  services/mcp_server/requirements.txt
Due: validate-schema-versions

proof of concept MCP server! hardcoded dolt path, and MCP definition only works locally. But: a Cursor agent successfully read a memory block! yayy
  experiments/docs/roadmap/tasks/task-mvp-dolt-mcp.json
  infra_core/memory_system/llama_memory.py
  infra_core/memory_system/tools/agent_facing/create_project_memory_block_tool.py
  infra_core/memory_system/tools/tests/agent_facing/test_create_project_memory_block_tool.py
  pyproject.toml
  services/mcp_server/.gitignore
  services/mcp_server/app/mcp_server.py
  services/mcp_server/pyproject.toml
  services/mcp_server/requirements.txt
  uv.lock
Due: validate-schema-versions

docs: mcp cleanup and parametrization for work item creation
  experiments/docs/roadmap/tasks/task-dry-work-item-creation-tool.json
Due: none

feat: DRY work item creation tool. Removed old restAPI endpoint for MCP tool. Removed redundant 'completed' field from task, project, epic metadata models. Added task + bug to dolt memory via MCP tool
  data/memory_dolt/.dolt/noms/journal.idx
  data/memory_dolt/.dolt/noms/manifest
  data/memory_dolt/.dolt/noms/vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv
  experiments/docs/roadmap/tasks/bug
  infra_core/memory_system/schemas/metadata/epic.py
  infra_core/memory_system/schemas/metadata/project.py
  infra_core/memory_system/schemas/metadata/task.py
  infra_core/memory_system/schemas/metadata/tests/test_epic_bug.py
  infra_core/memory_system/tools/agent_facing/create_work_item_tool.py
  infra_core/memory_system/tools/tests/agent_facing/test_create_work_item_tool.py
  services/mcp_server/app/api/endpoints/memory_tools.py
  services/mcp_server/app/mcp_server.py
Due: validate-schema-versions

more efficient docker command, removing no-cache-dir. Consider re-adding for production builds, for a leaner image
  services/web_api/Dockerfile.api
Due: none

refactor: remove old work item creation tools. remove redundant 'completed' field across all metadata models
  examples/use_create_project_tool.py
  examples/use_create_task_tool.py
  experiments/docs/roadmap/tasks/task-dry-work-item-creation-tool.json
  infra_core/memory_system/tests/test_dolt_schema_manager.py
  infra_core/memory_system/tools/agent_facing/__init__.py
  infra_core/memory_system/tools/agent_facing/add_validation_report_tool.py
  infra_core/memory_system/tools/agent_facing/create_bug_memory_block_tool.py
  infra_core/memory_system/tools/agent_facing/create_epic_memory_block_tool.py
  infra_core/memory_system/tools/agent_facing/create_project_memory_block_tool.py
  infra_core/memory_system/tools/agent_facing/create_task_memory_block_tool.py
  infra_core/memory_system/tools/agent_facing/update_task_status_tool.py
  infra_core/memory_system/tools/tests/agent_facing/test_add_validation_report_tool.py
  infra_core/memory_system/tools/tests/agent_facing/test_create_bug_memory_block_tool.py
  infra_core/memory_system/tools/tests/agent_facing/test_create_epic_memory_block_tool.py
  infra_core/memory_system/tools/tests/agent_facing/test_create_project_memory_block_tool.py
  infra_core/memory_system/tools/tests/agent_facing/test_create_task_memory_block_tool.py
  infra_core/memory_system/tools/tests/agent_facing/test_update_task_status_tool.py
  services/mcp_server/app/mcp_server.py
Due: validate-schema-versions

docs + scaffolding: update memory block core tooling. Also - delete placeholder 'bug' file that was accidentally committed
  experiments/docs/roadmap/tasks/bug
  experiments/docs/roadmap/tasks/task-update-memoryblock-core.json
  infra_core/memory_system/tools/memory_core/update_memory_block_core.py
Due: validate-schema-versions

Benchmark: UpdateMemoryBlockCore Phases 1-5 Complete - DRY architecture, proven libraries, 155 tests. Missing: agent tool and integration tests
  experiments/docs/roadmap/tasks/task-link-manager-refactor.json
  experiments/docs/roadmap/tasks/task-update-memoryblock-core.json
  infra_core/memory_system/tools/helpers/patch_utils.py
  infra_core/memory_system/tools/memory_core/update_memory_block_core.py
  infra_core/memory_system/tools/memory_core/update_memory_block_models.py
  infra_core/memory_system/tools/tests/helpers/test_patch_utils.py
  infra_core/memory_system/tools/tests/memory_core/test_update_memory_block_core.py
  infra_core/memory_system/tools/tests/memory_core/test_update_memory_block_models.py
  requirements.txt
Due: validate-schema-versions

feat(memory-tools): Add agent-facing UpdateMemoryBlock and UpdateWorkItem tools
  infra_core/memory_system/schemas/metadata/bug.py
  infra_core/memory_system/schemas/metadata/common/executable.py
  infra_core/memory_system/tools/agent_facing/create_work_item_tool.py
  infra_core/memory_system/tools/agent_facing/update_memory_block_tool.py
  infra_core/memory_system/tools/agent_facing/update_work_item_tool.py
  infra_core/memory_system/tools/tests/agent_facing/test_update_memory_block_tool.py
  infra_core/memory_system/tools/tests/agent_facing/test_update_work_item_tool.py
Due: validate-schema-versions

dolt workItems: bugs for MCP responses and pre-commit schema validation
  data/memory_dolt/.dolt/noms/journal.idx
  data/memory_dolt/.dolt/noms/manifest
  data/memory_dolt/.dolt/noms/vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv
Due: none

dolt: Add work item management backlog with prioritized improvement tasks
  data/memory_dolt/.dolt/noms/journal.idx
  data/memory_dolt/.dolt/noms/manifest
  data/memory_dolt/.dolt/noms/vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv
Due: none

Integrate LinkManager into MCP server infrastructure
  data/memory_dolt/.dolt/noms/journal.idx
  data/memory_dolt/.dolt/noms/manifest
  data/memory_dolt/.dolt/noms/vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv
  services/mcp_server/app/mcp_server.py
Due: validate-schema-versions

dolt: work items created based on o3 chatgpt deep research of our cogni repos
  data/memory_dolt/.dolt/noms/journal.idx
  data/memory_dolt/.dolt/noms/manifest
  data/memory_dolt/.dolt/noms/vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv
Due: none

gitcogni approval of pr 19, mvp project/task block types
  data/memory_banks/flows/gitcogni_reviews/review_20250530_015159_642611/GitCogniAgent_derekg1729_CogniDAO_19_approve_20250530_020115_363335.md
  data/memory_banks/flows/gitcogni_reviews/review_20250530_015159_642611/decisions.jsonl
  data/memory_banks/flows/gitcogni_reviews/review_20250530_015159_642611/guide_git-cogni.md
Due: none
